@use './reset.scss';
@use '../components/Header.scss';


$primary-color: #87786F;
$hover-color: #63564E;
$default-color: #FFF;
$defoult-border-radius: 10px;

body {
    background-color: $default-color;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    //height: 100vh;
    .allObjects {
            .container {
                margin: 40px;
    
                .titleAndActionsContainer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 20px;
                    margin-bottom: 20px;
    
                    .myObjects {
                        text-align: left;
                        font-weight: 700;
                        font-size: clamp(1.3rem, 2.6vw, 1.7rem);
                    }
    
                    .searchAndActions {
                        display: flex;
                        align-items: center;
                        gap: 20px;
    
                        input {
                            width: clamp(100px, 20vw, 270px);
                            height: 30px;
                            padding-inline: 10px;
                            background-color: $default-color;
                            color: #000;
                            border: #000, solid, 2px;
                            border-radius: $defoult-border-radius;
                            transition: none !important;
                            animation: none !important;
                            transform: none !important;
                        }
    
                        input:focus {
                            outline: none !important;
                            box-shadow: none !important;
                            border-color: inherit !important;
                        }
                    }
                }
    
                .textIfNot {
                    margin-block: 30px;
                    font-size: clamp(1rem, 2.1vw, 1.3rem);
                }

                .grid {
                    display: grid;
                    gap: 20px;
                    grid-template-columns: repeat(2, 1fr);
                }
                .role-info {
                    button {
                        padding-inline: 10px;
                        height: 50px;
                        border: none;
                        border-radius: $defoult-border-radius;
                        background-color: $primary-color;
                        color: #000;
                        font-weight: 600;
                        transition: all 0.3s ease;
                        text-align: center;
                        margin-top: 15px;
                    }
                
                    button:hover {
                        background-color: $hover-color;
                    }
                }
    
            }
    
            .mb-6 {
                margin-bottom: 10px;
                .flex {
                    display: flex;
                    justify-content: end;
    
                    select {
                        border: 2px solid #000;
                        border-radius: $defoult-border-radius;
                        padding: 8px 12px;
                        background-color: white;
                        color: #374151;
                        font-size: 14px;
                        cursor: pointer;
                        outline: none;
                        transition: all 0.2s ease;
                        min-width: 200px;
    
                    }
                }
            }
        }
}

@media screen and (max-width: 768px) {
    body {
        .allObjects {
            .container {
                    .grid {
                        grid-template-columns: repeat(1, 1fr);
                        
                    }
                }
        }
    }
    
}


@media screen and (max-width: 400px) {
    body {
        .allObjects {
            .container {
                margin: 20px;

                .titleAndActionsContainer {
                    .searchAndActions {
                        gap: 15px;
                    }
                }
            }
        }
    }
}