@use './reset.scss';
@use '../components/Header.scss';


$primary-color: #87786F;
$hover-color: #63564E;
$default-color: #FFF;
$defoult-border-redius: 10px;

body {
    background-color: $default-color !important;
    padding: 0px;
    margin: 0px;

}

.allObjects {
    .container {
        margin: 40px;

        .titleAndActionsContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            .myObjects {
                text-align: left;
                font-weight: 700;
                font-size: clamp(1.3rem, 2.6vw, 1.7rem);
            }

            .searchAndActions {
                display: flex;
                align-items: center;
                gap: 20px;

                input {
                    width: clamp(100px, 20vw, 270px);
                    height: 30px;
                    padding-inline: 10px;
                    background-color: $default-color;
                    color: #000;
                    border: #000, solid, 2px;
                    border-radius: $defoult-border-redius;
                    transition: none !important;
                    animation: none !important;
                    transform: none !important;
                }

                input:focus {
                    outline: none !important;
                    box-shadow: none !important;
                    border-color: inherit !important;
                }
            }
        }

        .textIfNot {
            margin-block: 30px;
            font-size: clamp(1rem, 2.1vw, 1.3rem);
        }

    }

    .mb-6 {
        .flex {
            display: flex;
            justify-content: end;
            margin-block: 10px;

            select {
                border: 2px solid #000;
                border-radius: $defoult-border-redius;
                padding: 8px 12px;
                background-color: white;
                color: #374151;
                font-size: 14px;
                cursor: pointer;
                outline: none;
                transition: all 0.2s ease;
                min-width: 200px;

            }
        }
    }
}



@media screen and (max-width: 400px) {
    .container {
        margin: 20px;

        .titleAndActionsContainer {
            .searchAndActions {
                gap: 15px;
            }
        }
    }
}