@use 'reset.scss';

$primary-color: #87786F;
$hover-color: #63564E;
$default-color: #FFF;
$defoult-border-radius: 10px;

@mixin h3-style {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

@mixin h4-style {
    font-weight: 500;
}

body {
    //height: 100vh;
    font-family: 'Segoe UI',
            Tahoma,
            Geneva,
            Verdana,
            sans-serif;
    
    color: #000;
    font-size: 18px;
    .inspectorPage {
        //padding: 30px;
        .navSection {
            padding: 20px;
            .backBtn {
                font-size: 20px;
                font-weight: 500;
            }
        }
        .objInfo {
            padding: 20px;
            h2 {
                margin-bottom: 10px;
                font-size: 26px;
                font-weight: 600;
            }
            .objectDescription {
                font-size: 18px;
            }
            .objectAddress {
                font-size: 18px;
            }
        }
        .mapSection {
            padding: 20px;
            h3 {
                @include h3-style;
            }
            .mapContainer {
                border: #000 solid 2px;
                border-radius: $defoult-border-radius;
                margin-bottom: 20px;
                .leaflet-container {
                    border-radius: $defoult-border-radius;
                }
                .leaflet-control-attribution {
                    display: none;
                }
            }
        }
        .responsibleSection {
            padding: 20px;
            .responsibleInfo {
                h4 {
                    @include h4-style;
                    margin-block: 5px;
                }
            }
        }
        .actionsSection {
            padding: 20px;
            .actBtn {
                width: calc(100% - 40px);
                height: 30px;
                padding: 8px 20px;
                border: solid 2px #000;
                border-radius: $defoult-border-radius;
                font-weight: 500;
            }
        }
        .scheduleSection {
            padding: 20px;
            h3 {
                @include h3-style;
            }
        }
        .workCompositionSection {
            padding: 20px;
            .compositionBtn {
                width: calc(100% - 40px);
                height: 30px;
                padding: 8px 20px;
                border: solid 2px #000;
                border-radius: $defoult-border-radius;
                font-weight: 500;
            }
        }
        .workersSection {
            padding: 20px;
            .workersHeader {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                h3 {
                    @include h3-style;
                }
                button {
                    padding: 12px;
                    border: none;
                    border-radius: $defoult-border-radius;
                    background-color: $primary-color;
                    color: #000;
                    font-weight: 600;
                    transition: all 0.3s ease;
                    text-align: center;
                    margin-left: 15px;
                }

                button:hover {
                    background-color: $hover-color;
                }
            }
            .workersGrid {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
        .postsSection {
            padding: 20px;
            h3 {
                @include h3-style;
            }
            .postsContainer {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .postCard {
                    border: #000 solid 2px;
                    border-radius: $defoult-border-radius;
                    padding: 20px;
                    h4 {
                        @include h4-style;
                    }
                    small {
                        font-weight: 300;
                    }
                }
            }
        }
        .role-specific-section {
            padding: 20px;
            h3 {
                @include h3-style;
            }
            .tools-grid {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 10px;
                
                button {
                    padding: 12px;
                    border: none;
                    border-radius: $defoult-border-radius;
                    background-color: $primary-color;
                    color: #000;
                    font-weight: 600;
                    transition: all 0.3s ease;
                    text-align: center;
                }
                
                button:hover {
                    background-color: $hover-color;
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    body {
        font-size: 15px;
        .inspectorPage {
            
            .inspectorPage__container {
                padding: 40px;
                .actionsSection {
                    .actBtn {
                        //width: 100%;
                        height: 30px;
                        padding: 6px 15px;
                        border: solid 2px #000;
                        border-radius: $defoult-border-radius;
                        font-weight: 500;
                    }
                }
                .workCompositionSection {
                    .compositionBtn {
                        //width: 100%;
                        height: 30px;
                        padding: 6px 15px;
                        border: solid 2px #000;
                        border-radius: $defoult-border-radius;
                        font-weight: 500;
                    }
                }
            }
            .role-specific-section {
                
                .tools-grid {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}
