@use '../pages/reset.scss';

$primary-color: #87786F;
$hover-color: #63564E;
$default-color: #FFF;
$defoult-border-radius: 10px;

.laboratory-selection {
    //border-radius: $defoult-border-radius;
    width: 60vw;
    height: 30vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .laboratory-selection__title {
        text-align: center;
        background-color: $primary-color;
        padding: 20px;
        font-family: 'Segoe UI',
            Tahoma,
            Geneva,
            Verdana,
            sans-serif;
        font-weight: 600;
        font-size: clamp(1.5rem, 3vw, 2rem);
    }

    .laboratory-selection__form {
        padding: 20px;
        .laboratory-selection__section {
            

            .laboratory-selection__section-title {
                font-family: 'Segoe UI',
                    Tahoma,
                    Geneva,
                    Verdana,
                    sans-serif;
                font-weight: 500;
                font-size: clamp(1.3rem, 2.6vw, 1.7rem);
            }

            input {
                margin-top: 20px;
                padding-inline: 10px;
                width: 100%;
                font-size: 1.3vh;
                background-color: $default-color;
                color: #000;
                height: 30px;
                border: #000, solid, 2px;
                border-radius: $defoult-border-radius;
                transition: none !important;
                animation: none !important;
                transform: none !important;
            }
        }

        button {
            margin-bottom: 20px;
            margin-top: 30px;
            width: 100%;
            height: 40px;
            border: none;
            border-radius: $defoult-border-radius;
            background-color: $primary-color;
            color: #000;
            font-weight: 600;
            font-size: 16px;
            transition: all 0.3s ease;
            text-align: center;
        }
    }
}