@use 'reset.scss';

$primary-color: #87786F;
$hover-color: #63564E;
$default-color: #FFF;
$defoult-border-radius: 10px;

@mixin h3-style {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

@mixin h4-style {
    font-weight: 500;
}

.postCard {
    .card {
        h3 {
            @include h3-style
        }
    
        .postsContainer {
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            .postCard {
                border: #000 solid 2px;
                border-radius: $defoult-border-radius;
                padding: 20px;
    
                h4 {
                    @include h4-style
                }
    
                small {
                    font-weight: 300;
                }
            }
        }
    }
}

